<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/main.css">

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Quick message</h2>
				
                    <form class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email">
                        <label for="comment" style="margin-top:4px;">Comment:</label>
                        <textarea class="form-control textarea-style" rows="5" id="comment"></textarea>
                        <a href="#" type="submit" class="btn btn-default" style="">Submit</a>
                    </form>
            </div>

			<div class="col-md-6">
				<h2>Useful links</h2>
				
			</div>
		</div>
	</div>